@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@font-face {
    font-family: "Itim";
    src: url("../fonts/Itim-Regular.ttf") format('truetype');
}

* {
	font-family: 'Itim';
	box-sizing: border-box;
	
}

body {
	align-self: flex-start;
    margin: 0;
}

p, h2, h3, h4 {
	margin: 0;
}

p, h1, h2, h3, img {
	margin-bottom: 20px;
}

html {
  font-size: 10px;
}

nav {
	font-size: 2rem;
}

a {
	font-size: 2rem;
}

p {
	font-size: 2rem;
}

h4 {
	font-size: 2.1rem;
}

h3 {
	font-size: 2.5rem;
}

h2 {
	font-size: 3rem;
}

h1 {
	font-size: 4rem;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #3197d6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
	z-index: 2;
}

.three-nav-buttons {
	padding-right: 10px;
}

a {
	color: black;
}

.contact-links a  {
	color: #f1534d;
	font-size: 5rem;
}

section {
	padding: 50px 0;
}

.brief-intro-text {
	display: flex;
	justify-content: center;
	position: relative;
}


i .arrow  {
	position: relative;
	margin-top: 20%;
    animation: bounce 0.5s; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
}

.about a {
	color: white;
}

.container-to-create-margins {
	max-width: 50%;
}

a:hover { 
  color: red;
}

.download-cv {
	border-radius: 7px;
	border: solid red;
	padding: 5px;
}

.intro {
	background-color: #3197d6;
	margin: 0px;
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 75px;
    text-align: center;
}

.container-for-image-and-text-in-intro {
	position: relative;
}

.brief-intro-text {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro h1 {
	padding-top: 50px;
}

.brief-intro {
	padding: 25px;
}

@keyframes bounce {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 8px;
    }
}

.arrow {
    position: absolute;
    bottom: 50px;
	left: 47.5%;
    text-align: center;
}

.arrow i {
    position: relative;
    animation: alternate bounce 0.7s infinite;
    color: black;
}

.arrow i:hover {
	color: red;
}

.about {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #2a3749;
	color: white;
	margin: 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container-for-image-and-text-in-about {
	display: flex;
	justify-content: center;
	max-width: 50%;
}

#photo-of-me {
	margin-top: 20px;
}


.portfolio {
	background-color: #3197d6;
	padding-top: 50px;
	margin: 0px;
	display: flex;
	justify-content: center;
	padding-bottom: 25px;
}

.project {
	border: solid;
	margin-bottom: 25px;
}

.project-content {
	display: flex;
	flex-wrap: nowrap;
}

.project-content img, h3 {
	margin-right: 25px;
	margin-left: 5px;
}

.contact {
	padding-top: 50px;
	background-color: #2a3749;
	color: white;
	margin: 0px;
	padding-bottom: 75px;
	display: flex;
	justify-content: center;
}

.container-for-all-stuff-in-contact {
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
}

.contact-links {
	display: flex;
	justify-content: center;
	margin: 0px;
	padding-top: 25px;
}

.contact-link {
	padding-right: 30px;
}

footer {
	background-color: #3197d6;
    position: fixed;
    bottom: 0;
    width: 100%;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
}

footer p {
	padding: 15px;
	margin: 0px;
	/*padding-left: 5px;
	padding-right: 5px;*/
}

@media screen and (max-width: 1800px) {

.project-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.container-for-image-and-text-in-about {
	display: flex;
	flex-wrap: wrap;
}

}

@media screen and (max-width: 1000px) {


.container-to-create-margins {
	max-width: 50%;
}

}


@media screen and (max-width: 410px) {


html {
	font-size: 8px;
}

.project-image {
	max-width: 75%;
}

}


@media screen and (max-height: 860px) {


/*#windows-image {
	width: 60%;
}
*/
.intro h1 {
	padding-top: 0px;
}

.brief-intro {
	padding: 0px;
}


@media screen and (max-height: 650px) {


.container-for-image-and-text-in-about {
	padding: 0;
	margin: 0;
}


#windows-image {
	display: none;
}


}

@media screen and (max-height: 450px) {

.intro {
		padding: 35px;
	}

}

@media screen and (max-height: 350px) {

.intro {
		padding: 20px;
	}

}

/*hello*/